.logo{
	width: auto;
	height: 300px;
	margin-top: -100px;
}

/* .banner{
	height: 150px;
	background-image: url('../images/arsenalbanner.jpg');
	background-size: cover;
	background-position: center -300px; 
}*/

.callOuts{
	border: 1px solid #d7d8da;
}

.callOuts img{
	height: auto;
	width: 100px;
}

/*Bottom Area*/
.bottomArea{
	background-color:darkred;
	height: 250px;
	color: #fff;
	font-size: .8rem;
}

.bottomArea p{
	font-size: .7rem;
}

.bottomArea h5{
	font-weight: 800;
	font-size: 16px;
}

.w-60{
	width: 60%!important;
}

.h-30{
	width: 17%!important;
}

.w-20{
	width: 20%!important;
}

/*Responsive code*/

@media (min-width: 576px) {
	.banner{
		height: 200px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.banner{
		height: 300px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.banner{
		height: 400px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

.top-area {
	background-image: url('../images/arsenalbanner.jpg');
	padding-top: 150px;
	padding-bottom: 150px;
	background-size: cover;
	background-position: center -140px;
	background-repeat: no-repeat;
}

.info-section {
padding:40px 0; 
}

.info-section h2{
    text-transform: none;
    margin-top: 0;
    color: #3D434D;
	margin-bottom: 24px;
	position: relative;
	text-align: center;
}

.info-section h2:after {
	content: "";
	display: block;
	border-bottom: 2px solid #FF0306;
	width: 10%;
	position: absolute;
	padding-top: 12px;
	text-align: center;
	margin: 0 auto;
    left: 0;
    right: 0;
}

.info-section h3 { 
	font-size: 21px;
	font-weight: 300; 
	text-align: center;
	line-height: 1.4;
}